#login-title{
	width:100%;
	background-color: ;
}
#login-title h1{
	text-align: center;
	
}

#login-title h2{
	text-align: center;
	
}

.login-table{
    width: 390;
    margin: 0 auto;
    border: 13px;
    border-color: black;
    align-content:  center;
}

.login-table input{
    width: 263px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 18px;
    border: 1px solid #e4e6e8;
    border-radius: 0;
    cursor: auto!important;
}

#login-form{
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e4e6e8;
    background: #965b5b;
}
#submitBtn{
    height: 45px;
}

#submit-btn{
    line-height: 42px;
    padding: 0;
    height: 100%;
    cursor: pointer;
    width: 340px;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 14px;
    background-color: #ec7612;
    border-radius: 2px;
    margin: 0 auto;
    
    
}